<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>User Registration: </h1>
    <form action="register" method="post">
        <label>User name :  </label>
        <input type="text" name="username"/>
        <br>
        <label>Email :  </label>
        <input type="email" name="email"/>
        <br>
        <label>Password :  </label>
        <input type="password" name="password"/>
        <br>
        <label>Gender : </label>
        Male<input type="radio" name="gender"  value="Male"/>
        Female<input type="radio" name="gender"  value="Female"/>
        Others<input type="radio" name="gender"  value="Others"/>
        <br>
        <label>Role : </label>
        Admin<input type="radio" name="role"  value="admin"/>
        Customer<input type="radio" name="role"  value="customer"/>
        <br>
        <label>Address : </label>
        <textarea name="address"></textarea>
        <br>
        <input type = "submit"/>
    </form>
</body>
</html>